html {
    text-align: center;
}

body {
    margin: 0px;
    background-color: #ffffff;
 

}

h1 {
    padding-top: 8%;
    margin: 0 auto 0 auto;
    font-family: 'Just Another Hand', cursive;
    font-size: 600%;
    font-weight: lighter;
  

}


h3 {
    margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 200%;
line-height: 2;
color: #3b6978;


}

h4 {
    
    padding: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    color: #0c7b93
    
}
h5 {
    text-align: center;
    margin: 0 auto 0 auto;
    font-family: sans-serif;
    font-size: 100%;
    font-weight: lighter;
    line-height: 2;
    color: #84a9ac;
    padding-bottom: 1%;

}

p {
    width: 20%;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 2;
    color: #84a9ac;

}
hr {
    border: dotted;
    border-bottom: 0px;
    width: 7%;
    margin: 100px auto 100px auto
}

.hello {
    color: #1eb2a6;
}
.dev {
    color: #1eb2a6;
    padding-bottom: 100px;
    margin: 0 auto 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: 100;
}


.mountain-image { 
    
    width: 40%;
    height: auto;
    margin: 0%;


   
}

.cloud-image {
    position: absolute;
    width: 20%;
    height: auto;
    top: 3%;
    left: 2%;
    bottom: 0px;
    right: 0px;


}
.cloud-image2 {
    position: absolute;
    width: 20%;
    height: auto;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin-left: 70%;
    margin-top: 28%;
}

.sun-image {
    position: absolute;
    width: 20%;
    height: auto;
    margin-left: 50%;
    top: 10%;
}

.profile-image {
    margin-top: 50px;
    width: 200px;
    height: auto;
    border-radius: 20%;
}
.guidelines-image {
    width: 300px;
    height: auto;
    float: left;
    margin-left: 500px;
}

.vision-image {
    width: 300px;
    height: auto;
    float: right;
margin-right: 500px;

}

.beyond-image {
    width: 300px;
    height: auto;
    float: left;
    margin-left: 500px;
    margin-right: 30px;

}
.h41 {
    margin-right: 800px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 80px;
}
.h42 {
    margin-left: 700px;
}
.h43 {
    margin-right: 750px;
}
.h44 {
    
    padding-bottom: 0px;
}

.top-div {
    background-color: #a1e6e3;
    width: 100%;
    margin-bottom: -3px;
}

.middle-div {
    background-color: #ffffff;
    width: 100%;
    margin: 0px auto 0px auto;
    padding-bottom: 50px;

}

.bottom-div {
    width: 100%;
    background-color: teal;
    margin: 0px auto 0px auto;
    color: #48c0b6;
    padding-bottom: 50px;
   
}
.p0 {
    margin: auto;
}

#p1 {
    text-align: left;
    margin: 0 auto 0 auto;
    width: 20%;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 2;
    color: #84a9ac;
}
#p2 {
    text-align: left;
    padding-top: 20px;
    margin: 0 auto 0 auto;
    width: 20%;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 2;
    color: #84a9ac;
}
.contact {
    font-family: 'Lato', sans-serif;
    font-size: 300%;
    font-weight: lighter;
    color: turquoise;
    
}

.social {
    padding: 0 1% 0 1%;
    color: #1eb2a6;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: 100;
    text-decoration: none;
}
.social:hover {
    color: #79e7d5;
}


.btn {
margin: 20px auto 30px;
	-moz-box-shadow:inset 0px 1px 0px 0px #e9f2f2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e9f2f2;
	box-shadow:inset 0px 1px 0px 0px #e9f2f2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d0ede8), color-stop(1, #30ad98) );
	background:-moz-linear-gradient( center top, #d0ede8 5%, #30ad98 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0ede8', endColorstr='#30ad98');
	background-color:#d0ede8;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
text-indent:0;
	display:inline-block;
	color:#2da8a8;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #68d9d9;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30ad98), color-stop(1, #d0ede8) );
	background:-moz-linear-gradient( center top, #30ad98 5%, #d0ede8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#30ad98', endColorstr='#d0ede8');
	background-color:#30ad98;
}.classname:active {
	position:relative;
    top:1px;
 }