
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.btn-google {
  background-color: #dd340f;

}

.btn-google:hover {
  background-color: #c1210c;
}

.display-3 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 400%;
  padding-top: 4%;
}

.btn-mains {
  margin-left: 2%;
  margin-right: 2%;
  width: 11rem;
}
